body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}
* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
}
.calendar_border {
  backdrop-filter: blur(1px);
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, #ffffff, #ffffff00);
    background-clip: border-box;
    mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    mask-composite: exclude !important;
    z-index: -10;
    border-radius: 16px;
    border: 1px solid transparent;
  }
}

a {
  text-decoration: none;
  display: block;
}
ul {
  margin: 0;
  margin-inline: unset !important;
  padding: 0;
  list-style: none;
}
